@charset "UTF-8";

* {
    font-family: "Inter", sans-serif
}

body {
    background-color: hsl(0, 0%, 8%);
}

#pai {
    height: 94vh;
    width: 94vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    border-radius: 5px;
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    height: 580px;
    width: 340px;
    text-align: center;
}

img {
    margin-top: 2em;
    height: 6em;
    width: 6em;
}

#frontend {
    margin: 2em 0em 2em 0em;
}

#git {
    position: relative;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: "Inter", sans-serif;
    height: 3.2em;
    width: 20em;
    margin: auto;
    margin-bottom: 10px;
    transition: 200ms ease-in-out;
    border: 5px hsl(0, 0%, 20%) solid;
    border-radius: 5px;
}

#git:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    transition-duration: 0.5s;
    border: 5px hsl(75, 94%, 57%) solid;
    border-radius: 5px;
}

#mentor {
    position: relative;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: "Inter", sans-serif;
    height: 3.2em;
    width: 20em;
    margin: auto;
    margin-bottom: 10px;
    transition: 200ms ease-in-out;
    border: 5px hsl(0, 0%, 20%) solid;
    border-radius: 5px;
}

#mentor:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    transition-duration: 0.5s;
    border: 5px hsl(75, 94%, 57%) solid;
    border-radius: 5px;
}

#linkedin {
    position: relative;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: "Inter", sans-serif;
    height: 3.2em;
    width: 20em;
    margin: auto;
    margin-bottom: 10px;
    transition: 200ms ease-in-out;
    border: 5px hsl(0, 0%, 20%) solid;
    border-radius: 5px;
}

#linkedin:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    transition-duration: 0.5s;
    border: 5px hsl(75, 94%, 57%) solid;
    border-radius: 5px;
}

#twitter {
    position: relative;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: "Inter", sans-serif;
    height: 3.2em;
    width: 20em;
    margin: auto;
    margin-bottom: 10px;
    transition: 200ms ease-in-out;
    border: 5px hsl(0, 0%, 20%) solid;
    border-radius: 5px;
}

#twitter:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    transition-duration: 0.5s;
    border: 5px hsl(75, 94%, 57%) solid;
    border-radius: 5px;
}

#instagram {
    position: relative;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: "Inter", sans-serif;
    height: 3.2em;
    width: 20em;
    margin: auto;
    margin-bottom: 10px;
    transition: 200ms ease-in-out;
    border: 5px hsl(0, 0%, 20%) solid;
    border-radius: 5px;
}

#instagram:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    transition-duration: 0.5s;
    border: 5px hsl(75, 94%, 57%) solid;
    border-radius: 5px;
}

.attribution {
    color: white;
    font-size: 12px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.attribution a {
    color: hsl(75, 94%, 57%);
}

#brasil {
    color: hsl(75, 94%, 57%);
    font-weight: bold;
}
