@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif;
    /*
    Medidas Absolutas
    cm, mm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vw, vh, %
    16px geralmente = 1em
    */
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}