@charset "UTF-8";

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100%;
}

body {
    background-image: linear-gradient(to right, #A69A6F, #FAEFC7, #85732b);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5E511F;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A69A6F;
    text-shadow: 1px 1px 0px #5E511F;
    text-align: center;
     font-family: "Reenie Beanie", serif;
    font-weight: 200;
     font-style: normal;
    font-size: 60px;
}

h2 {
    color: #5E511F;
}

p {
    text-align: justify;
}
